.container {
    width: 800px;
    margin: 0 auto;
    padding-top: 100px;
}
input {
    outline: none;
}
.todo, button {
    cursor: pointer;
}
#todoList {
    padding: 20px;
}
.todo {
    padding-bottom: 5px;
}
.btn {
    margin-left: 15px;
    border: none;
    background: none;
}
.done {
    color: red;
    text-decoration: line-through;    
}
#markAll, #unmarkAll {
    margin-left: 15px;
}

