.container {
    width: 700px;
    margin: 0 auto;
    padding: 20px 0 50px 0;    
    margin-top: 50px;    
}
.todo-form {
    padding: 20px 0;
}
.taskBoard ul {
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 10px;
}
.taskBoard li {
    list-style-type: none;
}
#clearAll, .add-task, .taskBoard span, .taskCheckBox, .taskCheckBox input {
    cursor: pointer;
}
#markAll {
    margin-left: 30px;
    cursor: pointer;
}
